*{
	box-sizing : border-box;
}
body{

  background-image: url('family.jpg');
  background-color: rgba(1,1,1,0.9);
 }

#app h1{
	font-family: 'Anton', sans-serif;

}
#app{
	z-index: 2;
	margin-top: 10px;
	width:70%;
	margin-left: 15%;
	text-align: center;
	justify-content: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;

	
}
.header{
	background-color: rgba(0,0,0,0.5);
	padding:15px 30px;
	margin-bottom:10px;
	color : white;
}
.header p{
	font-size: 20px;
}
.add{
	min-width: 600px;
	border:2px solid yellow;
}

.add .addButton{
	margin-top:20px;
	width:40%;
	
}
.cardList{

}
#divCard{
	min-width: 500px;
	background-color: #eee7ea;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	padding:20px;
	
}
#shopping-form{
	text-align: center;
	margin-top:20px;
}
#shoppingItem{
	width:70%;
	margin-left: 15%;
}
.list-item{
	display: flex ;
	flex-direction: row ;
	justify-content: space-between;
	font-family: 'Acme', sans-serif;
	flex-wrap: nowrap;
	padding:5px 10px 5px 20px;
	align-items: center;
}
.list-group{
	background-color: #4c7aa7;
}
.list-item div{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-left:10px;
}
.list-item div button{
	margin-right: 5px;
}
.delete-item{

}
.card h3{
	font-family: 'Anton', sans-serif;
}
#search{
	width:70%;
	margin-left: 15%;
	margin-bottom: 20px;
}
.clear-button{
	width:40%;
	margin-left: 30%;
	margin-top: 20px;

}

.strike{
	color: white;
	background-color: grey;
}
/*
.btnStyle{
	margin-left : 10px;

}
.delete-item{
	margin:10px;
}

.list-group-item{
	display : flex;
	flex-direction: row;
	justify-content: flex-start;
	border:2px solid red;
}

.list-group-item .btnStyle{
	align-self: flex-end;
} */

div.errorMessage{
	color: red;
	padding-top: 10px;
}
footer{
	background-color: black;
	margin-bottom: 0;
	border: 1px solid black;
	padding-top: 10px;
	
}
.copyrightInfo{

	color: rgba(255,255,255,0.4);
}
/* For reference
@media only screen and (device-width:768px){
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {...

	*/
@media only screen and (max-width: 600px){
   .header h1{
   	    font-size: 28px;
   	    font-family: 'Oxygen', sans-serif;
   }
   .header p{
   		font-size: 14px;
   }
   .add{
   	    min-width: 80vw;
   }
   #divCard{
	    min-width: 80vw;
	}
	.copyrightInfo{
		font-size: 15px;
	}
}
@media only screen and (max-width: 1000px){
   .header p{
   		font-size: 16px;
   }
   .add{
   	    min-width: 80vw;
   }
   #divCard{
	    min-width: 70vw;
	}
}